body{
    background-color: white;
}

body *
{
    border:1px solid black; 
}
header{
    background-image: url('imgs/HeartofKYWebLogo.jpg');
    display: block;
    background-position: center center;
    background-size: cover;
    height: 430px;
    
}
.logo{
    display: none;
}

title{
    background-color: black;
}
h1{
    color: white;
}
nav{
    position: fixed;
    text-align: right;
    border:none;
    background-color: black;
    top: 0px;
    right: 0px;
    width: 100%;
    

}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: none;
    height: 56px;
    
    
}
a{
    color: white;
    text-decoration: none;
    border: none;
    
}
li{
    padding: 10px 12px;
}
aside{

}
main{

}
div{

}
p{

}
h2{

}
address{

}
h3{

}
.imgwrapper{

}
.imggroup long{

}
.imgdiv{

}
.video{

}
.links{

}
.note{

}
.imggroup short{

}
.phone{

}
.title{

}
