body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
p, aside, h1, h2, h3, div, section, address{
    padding: 0px 48px;
    max-width: 1280px;
}
header{
    background-image: url('imgs/HeartofKYWebLogo.jpg');
    display: flex;
    background-position: center center;
    background-size: cover;
    height: 430px;
    justify-content: center;
    align-items:center;
    align-self: stretch;
    box-shadow: inset 1600px 1600px rgba(24, 22, 22, 0.6)
    
}
.logo{
    display: none;
}
h1{
    color: white;
    text-align: center;
    border:none;
    font-family: 'Rock Salt', cursive;
    width: 275px;
    font-size: 40pt;
}
nav{
    position: fixed;
    text-align: right;
    border:none;
    background-color: black;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 0px 16px;
    height: 75px;
}
#inspiration, .note{
    color: rgba(0, 114, 153, 1);
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20pt;
    text-align: center;
    margin-top: 18pt;
    line-height: 1.5;
    padding: 0px 75px;
    display: block;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: none;
    height: 56px;
    justify-content: flex-end;
    font-family: 'PT Sans';
    font-size: 14pt;   
    padding: 10px 12px; 
    vertical-align: top;  
    position: fixed;
    right: 0px;
    top: -15px;
}
nav a{
    color: white;
    text-decoration: none;
    border: none;
}
p a{
    color: rgba(0, 114, 153, 1);
}
li{
    padding: 10px 12px;
}
li:active{
    font-weight: bold;
}
aside{

}
main{

}
div{
    padding: 8px;
}
section p{
    font-family: 'PT Sans';
    font-size: 14pt;
    line-height: 1.5;
    font-weight: 400px;

}
h2{
    color: rgba(0, 114, 153, 1);
    font-weight: bold;
    font-size: 1.5em;
 
}
address{
    font-style: normal;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 14pt;
    line-height: 1.5;
}
h3{
    font-weight: normal;
    margin: 0px;
    font-size: 14pt;
}
address~p{
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
address~p~p{
    margin: 0px;
}
#mission p~p{
    font-weight: 600;
    color: rgba(0, 114, 153, 1);
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 14pt;
    line-height: 1.5;
}
.imgwrapper{

}
.imggroup long{

}
.imgdiv{

}
.video{

}
.links{
    
}
.note{

}
.imggroup short{

}
.phone{

}
.title{

}
aside{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 25px;

}
img[alt="Facebook"]{
    background-color: #1877f2;
    margin: 9px;
    border-radius: 50%;
    height: 48px;
    width: 48px;

}
img[alt="Instagram"]{
    background-color: #fe005c;
    margin: 9px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
#home a[href="index.html"]{
    font-weight: bold;
}
#activities a[href="activities.html"]{
    font-weight: bold;
}
#childcare a[href="childcare.html"]{
    font-weight: bold;
}
#childcare a[href="childcare.html"]{
    font-weight: bold;
}
#support a[href="support.html"]{
    font-weight: bold;
}
#preschool a[href="preschool.html"]{
    font-weight: bold;
}
#concerns a[href="concerns.html"]{
    font-weight: bold;
}
/* childcare */
#childcare{
    line-height: 1.5;
}
#childcare .social{
    display: none;
}
#whyChildcare img{
    display: none;
}
main>div{
    display: flex;
    flex-direction: column;
}
#whyChildcare{
    order: 2;
    text-align: left;
}

#choseChildcare{
    display:flex;
    flex-direction: row;
}
#childcareBenefits{
    display: flex;
    flex-direction: row;
}
#childcare div img{
    height: 198.14px;
    width: 330.25px;
}
#childcare .links a{
    color: rgba(0, 114, 153, 1);
     margin-left: 0px;  
}
#childcare h2{
    font-size: 20pt;
    margin:0;
}
#childcare p{
    font-size: 14pt;
    font-family:'PT Sans';
    font-weight: 400;
}
#childcare .links > ul{
    font-size: 14pt;
    font-family:'PT Sans';
    font-weight: 400;
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding-left: 30px;
}
#whyChildcare div p{
    margin-bottom: 0px;
}
#poviders{
    padding: 0px;
    margin-left: 150px;
}


/* activities */
#activities .social{
    display:none;
}
#activities .imgwrapper{
    display: grid;
/*    grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: left;
    justify-content: center;
    width: 100%;
    margin-left: 125px;

}
#ready4k:nth-child(1){
    grid-column-start: 1;
}
#activities .imggroup img{
    height: 375.84px;
    width: 359.56px;
}
#activities iframe{
    width: 359.56px;
    height: 265.53px;
    display: inline;
}
#activities a[href="https://parentpowered.com/"]{
    text-decoration: normal;
}
#activities main #programs ul a{
    font-family: 'PT Sans';
    font-size: 14pt;
    text-align:center;
    color: rgba(249, 249, 249, 1);
    background-color: rgba(0, 114, 153, 1);
    border-radius: 4px;
    text-decoration: none;
    width: 100%;

}
#activities main #programs ul {
    list-style-type: none;
    width: 100%;
    display: block;
}
#kids-and-parents{
    margin-left: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto;
    
}
#kids-and-parents h2{
    grid-area: 1/1/1/5;
}
#kids-and-parents .imgwrapper .links ul{
    list-style-type: none;
    margin-left:0px;
    padding-left: 0px;
    text-align: center;
}
#kids-and-parents .links a{
    color: rgba(0, 114, 153, 1);
    font-size:14pt;
    line-height:1.5;
    font-family: 'PT Sans';
}
#kids-and-parents p, #kids-and-parents .links{
    text-align:center;
    font-size: 14pt;
    line-height: 1.5;
    font-family:'PT Sans';
}
#kids-and-parents .imgdiv a img, #kidAdventures .imgdiv a img{
    height: 266px;
    width: 266px;
    display:block;
    margin-left:10px;
}
#cradleSchool {
    grid-area: 2/1/2/2;
}
#GladysProject{
    grid-area: 2/2/2/3;
}
#Boylelibrary, #Mercerlibrary{
    grid-area: 2/3/2/5;
}
#Mercerlibrary{
    justify-self:flex-end;
}
#Mercerlibrary p{
    display:none;
}
#Mercerlibrary .links{
    position:relative;
    top: 150px;
    left: -165px;
}
#artCenterBG{
    grid-area: 3/1/3/2;
}
#kinderMusik {
    grid-area: 3/2/3/3;
}
#PlaidElephant{
    grid-area: 3/3/3/4;
}
#EpicPlay{
    grid-area: 3/4/3/5;
}
#Parks{
    grid-area: 4/1/4/3;
}
#Parks .imgdiv a img{
    height: 267px;
    width: 562px;
}
#AtHome{
    margin-top:50px;
}
#LearnKY{
    display:flex;
    flex-direction: row;
    font-size:14pt;
    font-family: 'PT Sans';
}
#LearnKY ul{
    list-style-type: none;
}
#LearnKY div{
    align-self:center;
}
#LearnKY ul a{
    color: rgba(0, 114, 153, 1);
}
#activities h2{
    font-size: 24pt; 
    font-family: 'Raleway';
    font-weight: 600;
    line-height: 1.5;
}
#kidAdventures{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
#kidAdventures ul{
    list-style-type: none;
}
#kidAdventures ul a{
    font-size: 14pt;
    font-family: 'PT Sans';
    color: rgba(0, 114, 153, 1);
}
#kidAdventures p{
    font-size: 14pt;
    font-family: 'PT Sans';
}
#kidAdventures img{
    text-align: center;
}
/* Support */
#support .social{
    display: none;
}
#newParents .imgwrapper{
    margin-left: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    align-items: flex-start;
    width: 50%;
}
#newParents h2{
    grid-area: 1/1/1/4;
}
#KYHands{
    grid-area: 2/1/3/2;
}
#Haven{
    grid-area: 2/2/3/3;
}
#Ephraim{
    grid-area: 2/3/3/4;
}
#support .imgwrapper img{
    height: 266.41px;
    width: 266.41px;
}
#support h2{
    font-size: 24pt; 
    font-family: 'Raleway';
    font-weight: 600;
    line-height: 1.5;
    padding-left: 0px;
    margin-left: 0px;
}
#newParents .imggroup{
    text-align: center;
    line-height:1.5;
    font-size:14pt;
    font-family:'PT Sans';
}
#newParents ul{
    list-style-type: none;
    margin-left:0px;
    padding-left: 0px;

}
#newParents ul a{
    color: rgba(0, 114, 153, 1);
}
#therapy .imgwrapper{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
}
#therapy h2{
    grid-area: 1/1/2/5;
}
#firststeps{
    grid-area: 2/1/3/2;
}
#KidsCanDo{
    grid-area: 2/2/3/3;
}
#HeadStart{
    grid-area: 2/3/3/4;
}
#vips{
    grid-area: 2/4/3/5;
}
#KCDHH{
    grid-area: 3/1/4/2;
}
#KYACA{
    grid-area: 3/2/4/3;
}
#KYSpin{
    grid-area: 3/3/4/4;
}
#OSCHCN{
    grid-area: 3/4/4/5;
}
#therapy .imgwrapper ul{
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}
#therapy .imgwrapper ul a{
    color:rgba(0, 114, 153, 1);
    text-align: center;
    font-size: 14pt;
    font-family: 'PT Sans';
    line-height:1.5;
    
}
#caregivers{
    display: flex;
    flex-direction: column;
    width: 30%;
}
#MOPS {
    font-size: 14pt;
    font-family: 'PT Sans';
    line-height:1.5;
    text-align:center;
  
}
#MOPS ul{
    list-style-type: none;
    margin-left:0px;
    padding-left: 0px;

}
#MOPS ul a{
    color: rgba(0, 114, 153, 1);
}