body{
    background-color: white;
}

body *
{
   
}
header{
    background-image: url('imgs/HeartofKYWebLogo.jpg');
    display: flex;
    background-position: center center;
    background-size: cover;
    height: 430px;
    justify-content: center;
    align-items:center;
    
}
.logo{
    display: none;
}
h1{
    color: white;
    text-align: center;
    border:none;
    font-family: 'Rock Salt', cursive;
    width: 275px;
    font-size: 40pt;
}
nav{
    position: fixed;
    text-align: right;
    border:none;
    background-color: black;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 0px 16px;
    height: 75px;
}
#inspiration{
    color: rgba(0, 114, 153, 1);
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20pt;
    text-align: center;
    margin-top: 18pt;
    line-height: 1.5;
    padding: 0px 75px;
    display: block;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: none;
    height: 56px;
    justify-content: flex-end;
    font-family: 'PT Sans';
    font-size: 14pt;   
    padding: 10px 12px; 
    vertical-align: top;  
    position: fixed;
    right: 0px;
    top: -15px;
}
nav a{
    color: white;
    text-decoration: none;
    border: none;
}
p a{
    color: rgba(0, 114, 153, 1);
}
li{
    padding: 10px 12px;
}
li:active{
    font-weight: bold;
}
aside{

}
main{

}
div{
    padding: 8px;
}
section p{
    font-family: 'PT Sans';
    font-size: 14pt;
    line-height: 1.5;
    font-weight: 400px;

}
h2{
    color: rgba(0, 114, 153, 1);
    font-weight: bold;
    font-size: 1.5em;
 
}
address{

}
h3{

}
.imgwrapper{

}
.imggroup long{

}
.imgdiv{

}
.video{

}
.links{
    
}
.note{

}
.imggroup short{

}
.phone{

}
.title{

}
aside{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 25px;

}
img[alt="Facebook"]{
    background-color: #1877f2;
    margin: 9px;
    border-radius: 50%;
    height: 48px;
    width: 48px;

}
img[alt="Instagram"]{
    background-color: #fe005c;
    margin: 9px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
#home a[href="index.html"]{
    font-weight: bold;
}
#activities a[href="activities.html"]{
    font-weight: bold;
}
#childcare a[href="childcare.html"]{
    font-weight: bold;
}
#childcare a[href="childcare.html"]{
    font-weight: bold;
}
#support a[href="support.html"]{
    font-weight: bold;
}
#preschool a[href="preschool.html"]{
    font-weight: bold;
}
#concerns a[href="concerns.html"]{
    font-weight: bold;
}